## Importing the Libraries

In [1]:
import pandas as pd
from datetime import datetime, timedelta

## Downloading the datasets

In [2]:
input_file = "input.csv"
output_file = 'output.csv'
df = pd.read_csv(input_file)

## Transforming the data

In [3]:
# Define a function to transform the data
def transform_data(input_df):
    output_rows = []

    for index, row in input_df.iterrows():
        # Extract basic employee information
        employee_code = row['Employee Code']
        manager_code = row['Manager Employee Code']
        date_of_joining = row['Date of Joining']
        date_of_exit = row['Date of Exit']

        # Extract compensation data
        compensation_1 = row['Compensation 1']
        compensation_1_date = row['Compensation 1 date']
        compensation_2 = row['Compensation 2']
        compensation_2_date = row['Compensation 2 date']

        # Extract review data
        review_1 = row['Review 1']
        review_1_date = row['Review 1 date']
        review_2 = row['Review 2']
        review_2_date = row['Review 2 date']

        # Extract engagement data
        engagement_1 = row['Engagement 1']
        engagement_1_date = row['Engagement 1 date']
        engagement_2 = row['Engagement 2']
        engagement_2_date = row['Engagement 2 date']

        # Determine the effective and end dates for each record
        effective_dates = [date_of_joining, compensation_1_date, compensation_2_date,
                           review_1_date, review_2_date, engagement_1_date, engagement_2_date]
        effective_dates = [date for date in effective_dates if pd.notna(date)]
        effective_dates.sort()

        end_dates = effective_dates[1:] + [pd.Timestamp('2100-01-01')]

        # Create rows for each period with consistent data
        for i in range(len(effective_dates)):
            output_row = {
                'Employee Code': employee_code,
                'Manager Employee Code': manager_code,
                'Last Compensation': compensation_2 if i == 0 else '',
                'Compensation': compensation_1 if i == 0 else compensation_2 if i == 1 else '',
                'Last Pay Raise Date': '',
                'Variable Pay': '',
                'Tenure in Org': '',
                'Performance Rating': review_2 if i == 1 else review_1 if i == 0 else '',
                'Engagement Score': engagement_2 if i == 1 else engagement_1 if i == 0 else '',
                'Effective Date': effective_dates[i],
                'End Date': end_dates[i]
            }
            output_rows.append(output_row)

    return pd.DataFrame(output_rows)

## Coversion of Input data

In [4]:
transformed_df = transform_data(df)

C:\Users\USER\AppData\Local\Temp\ipykernel_8968\4153429439.py:55: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  return pd.DataFrame(output_rows)

## Saving the transformed Data

In [5]:
# Save output DataFrame to CSV file
output_file = 'output.csv'
transformed_df.to_csv(output_file, index=False)

## Displaying the output

In [6]:
transformed_df

,Employee Code,Manager Employee Code,Last Compensation,Compensation,Last Pay Raise Date,Variable Pay,Tenure in Org,Performance Rating,Engagement Score,Effective Date,End Date
0,1,NaN,NaN,NaN,,,,NaN,NaN,2021-01-01,2100-01-01
1,2,1.0,20000.0,10000.0,,,,9.0,4.0,2021-01-01,2021-03-01
2,2,1.0,,20000.0,,,,9.5,5.0,2021-03-01,2021-06-01
3,2,1.0,,,,,,,,2021-06-01,2022-01-01
4,2,1.0,,,,,,,,2022-01-01,2022-03-01
5,2,1.0,,,,,,,,2022-03-01,2022-06-01
6,2,1.0,,,,,,,,2022-06-01,2023-01-01
7,2,1.0,,,,,,,,2023-01-01,2100-01-01
8,3,1.0,20000.0,10000.0,,,,9.0,4.0,2021-01-01,2021-03-01
9,3,1.0,,20000.0,,,,9.5,5.0,2021-03-01,2021-06-01
10,3,1.0,,,,,,,,2021-06-01,2022-01-01
11,3,1.0,,,,,,,,2022-01-01,2022-03-01
12,3,1.0,,,,,,,,2022-03-01,2022-06-01
13,3,1.0,,,,,,,,2022-06-01,2023-01-01
14,3,1.0,,,,,,,,2023-01-01,2100-01-01